<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Best of luck</string>
	</dict>
	<dict>
		<key>name</key>
		<string>About</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Beta</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Charlie</string>
	</dict>
</array>
</plist>
